---
import MainLayout from '@layouts/MainLayout.astro';
import { siteConfig } from '@config/site-config';
import { getCollection } from 'astro:content';
import TypedBlogPost from '@/components/TypedBlogPost.astro';

const blogPosts = await getCollection('blog', (post) => !post.data.isDraft);



---

<MainLayout title={siteConfig.title} description={siteConfig.description}>
  <h1 class="text-5xl font-bold text-center text-blue-500">Hola mundo</h1>

  <!-- component -->
  <section class="bg-white dark:bg-gray-900">
      <div class="container px-6 py-10 mx-auto">
          <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">{siteConfig.title}</h1>

          <a href="/blog/1" class="text-blue-500 hover:underline mr-2">Blog paginado</a>
          <a href="/authors" class="text-blue-500 hover:underline mr-2">Autores</a>

          <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
              {blogPosts.map((post) => {
                return <TypedBlogPost post={post} />
              })}

          </div>
      </div>
  </section>
  
</MainLayout>